<div class="contact-section">
  <div class="row center-align">
    <div class="col xl2 s12 offset-xl2">
      <h3>Visit Us</h3>
      <p>6333 N. 59th Ave.</p>
      <p>Glendale, Arizona</p>
    </div>
    <div class="col xl4 s12 scrollspy" id="contact">
      <a href="https://goo.gl/maps/M5Lkg5Cyp6ekjsE79" target="_blank">
        <%= image_tag "map.png", class: "map" %>
      </a>

    </div>
    <div class="col xl2 s12">
      <h3>Hours</h3>
      <p>Sometime in the future!</p>
      <p>Maybe soon!</p>
    </div>
  </div>
</div>
<%= render  "layouts/footer" %>