<h2 class="center-align">Menu</h2>
<div class="row menu-boxes">
  <div class="taco-style col l4 offset-l2 col m10 offset-m1 s10 offset-s1">
    <p class="style-header"><span class="style-number">1</span><span class="menu-title">The Style</span></p>
    <div class="menu-content row">
      <ul class="menu-items">
        <li>Taco (3) 575</li>
        <li>Burrito 650</li>
        <li>Burrito Bowl 650</li>
        <li>Nacho 7</li>
        <li>Quesadilla 475</li>
      </ul>
    </div>
  </div>
  <div class="taco-style box-2 col l4 col m10 offset-m1 s10 offset-s1">
    <p class="style-header"><span class="style-number">2</span><span class="menu-title">The Filling</span></p>
    <div class="menu-content row">
      <ul class="menu-items">
        <li>Pollo Asada</li>
        <li>Carne Asada</li>
        <li>Carnitas</li>
        <li>Pulled Pork</li>
        <li>Vegetarian</li>
        <li>Black Beans & White Rice</li>
      </ul>
    </div>
  </div>
</div>
<div class="row menu-boxes">
  <div class="taco-style box-3 col l3 offset-l3 m10 offset-m1 s10 offset-s1">
    <p class="style-header"><span class="style-number">3</span><span class="menu-title">Toppings</span></p>
    <div class="menu-content row">
      <ul class="menu-items">
        <li>Pico de Gallo</li>
        <li>Lettuce</li>
        <li>Cheese</li>
        <li>Corn Salad</li>
        <li>Avocado 1+</li>
      </ul>
    </div>
  </div>
  <div class="taco-style box-4 col l3 m10 offset-m1 s10 offset-s1">
    <p class="style-header"><span class="style-number">4</span><span class="menu-title">The Salsa!!!</span></p>
    <div class="menu-content row">
      <ul class="menu-items">
        <li>Red Suace (Mild)</li>
        <li>Salsa Verde (Medium)</li>
        <li>Diablo Salsa (Medium)</li>
        <li>Chipotle Salsa (Spicy)</li>
        <li>Verde Especial (Delicious)</li>
      </ul>
    </div>
  </div>
</div>














<!-- <div class="row">
  <div class="col l4 m6 s12 offset-l2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "tacos1.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 center-align">Street Tacos<i
            class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title activator grey-text text-darken-4 center-align">Street Tacos<i
            class="material-icons right">close</i></span>
        <div class="menu-content row">
          <ul class="menu-items col l6 offset-l1">
            <li>Carne Asada:</li>
            <li>Poyo Asada:</li>
            <li>Carnitas:</li>
            <li>Smoked Pork:</li>
          </ul>
          <ul class="menu-price col l2">
            <li>1.75</li>
            <li>1.50</li>
            <li>1.75</li>
            <li>2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 m6 s12">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "tacos1.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 center-align">Burritos<i
            class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 center-align">Burritos<i class="material-icons right">close</i></span>
        <div class="menu-content row">
          <ul class="menu-items col l6 offset-l1">
            <li>Carne Asada:</li>
            <li>Poyo Asada:</li>
            <li>Carnitas:</li>
            <li>Smoked Pork:</li>
          </ul>
          <ul class="menu-price col l2">
            <li>5.75</li>
            <li>5.50</li>
            <li>5.75</li>
            <li>7</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col l4 m6 s12 offset-l2">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "tacos1.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 center-align">Salsa<i
            class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 center-align">Toppings<i class="material-icons right">close</i></span>
        <div class="menu-content row">
          <ul class="menu-items col l6 offset-l1">
            <li>Carne Asada:</li>
            <li>Poyo Asada:</li>
            <li>Carnitas:</li>
            <li>Smoked Pork:</li>
          </ul>
          <ul class="menu-price col l2">
            <li>5.75</li>
            <li>5.50</li>
            <li>5.75</li>
            <li>7</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 m6 s12">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "tacos1.jpg", class: "activator" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 center-align">Street Tacos<i
            class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 center-align">Street Tacos<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div> -->


