<h2 class="center-align">Gallery</h2>
<div class="slider">
  <ul class="slides z-depth-5">
    <li>
      <%= image_tag "cilantro.jpg" %>
      <div class="caption center-align">
        <h3>Only the freshests ingredients!</h3>
        <h5 class="light grey-text text-lighten-3">Locally sourced.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "nacho.jpg" %>
      <div class="caption left-align">
        <h3>The tastiest options!</h3>
        <h5 class="light grey-text text-lighten-3">Grilled on the spot.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "tacos1.jpg" %>
      <div class="caption right-align">
        <h3>Family raised pork!</h3>
        <h5 class="light grey-text text-lighten-3">With veg as the side.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "tacos2.jpg" %>
      <div class="caption center-align">
        <h3>And tacos!!!</h3>
        <h5 class="light grey-text text-lighten-3">Taste tested on billions of tastebuds.</h5>
      </div>
    </li>
  </ul>
</div>
