<footer class="page-footer">
  <div class="container">
    <div class="row center-align">
      <div class="col l4 s6">
        <a href="mailto:brianwh87@gmail.com?subject=PortfolioContact" "email me" class="email-style">
          <h5 class="black-text">text@example.com</h5>
        </a>
      </div>
      <div class="col l4 s6">
        <a href="pinterest.com">
          <h5 class="black-text">pinterest</h5>
        </a>
      </div>
      <div class="col l4 s6">
        <a href="instagram.com">
          <h5 class="black-text">instagram</h5>
        </a>
      </div>
    </div>
  </div>
</footer>