<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Tacos</a></li>
  <li><a href="#!">Burritos</a></li>
  <li class="divider"></li>
  <li><a href="#!">Mulitas</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Tacos</a></li>
  <li><a href="#!">Burritos</a></li>
  <li class="divider"></li>
  <li><a href="#!">Mulitas</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" id="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo center" id="brand-logo">Tacos Grill-bertos</a>
        <ul class="right">
          <li><a href="#contact">Contact</a></li>
          <li class="hide-on-med-and-down"><a href="#email">Newsletter</a></li>
        </ul>
        <ul class="left">
          <li class="hide-on-med-and-down"><a href="#welcome">Bienvenidos</a></li>
          <li><a href="#menu">Menu</a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="#welcome">Bienvenidos</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#email">Newsletter</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
